<a href="https://colab.research.google.com/github/mygoal-javadeveloper/Dphi_Machine-Learning_Datathon_and_Assignments/blob/master/hour_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#importing libraries 
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

In [2]:
#reading training dataset
hour_data  = pd.read_csv('hour.csv')

In [3]:
#finding the total rows and columns of dataset
hour_data.shape

(17379, 17)

In [4]:
#getting the overview of all the columns in the dataset
hour_data.columns

Index(['instant', 'dteday', 'season', 'yr', 'mnth', 'hr', 'holiday', 'weekday',
       'workingday', 'weathersit', 'temp', 'atemp', 'hum', 'windspeed',
       'casual', 'registered', 'cnt'],
      dtype='object')

In [5]:
hour_data.rename(columns={'dteday':'date', 'yr':'year', 'mnth':'month', 'hr':'hour', 'hum':'humidity', 'cnt':'totalcount'}, inplace=True)

In [6]:
hour_data.columns

Index(['instant', 'date', 'season', 'year', 'month', 'hour', 'holiday',
       'weekday', 'workingday', 'weathersit', 'temp', 'atemp', 'humidity',
       'windspeed', 'casual', 'registered', 'totalcount'],
      dtype='object')

In [7]:
#first 5 rows content of the dataset
hour_data.head(15)

    instant        date  season  ...  casual  registered  totalcount
0         1  2011-01-01       1  ...       3          13          16
1         2  2011-01-01       1  ...       8          32          40
2         3  2011-01-01       1  ...       5          27          32
3         4  2011-01-01       1  ...       3          10          13
4         5  2011-01-01       1  ...       0           1           1
5         6  2011-01-01       1  ...       0           1           1
6         7  2011-01-01       1  ...       2           0           2
7         8  2011-01-01       1  ...       1           2           3
8         9  2011-01-01       1  ...       1           7           8
9        10  2011-01-01       1  ...       8           6          14
10       11  2011-01-01       1  ...      12          24          36
11       12  2011-01-01       1  ...      26          30          56
12       13  2011-01-01       1  ...      29          55          84
13       14  2011-01-01       1  ...      47          47          94
14       15  2011-01-01       1  ...      35          71         106

[15 rows x 17 columns]

In [8]:
#getting brief overview of the dataset - number of columns and rows (shape of dataset), columns names and its dtype, how many non-null values it has and memory usage.
hour_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17379 entries, 0 to 17378
Data columns (total 17 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     17379 non-null  int64
 1   date        17379 non-null  object
 2   season      17379 non-null  int64
 3   year        17379 non-null  int64
 4   month       17379 non-null  int64
 5   hour        17379 non-null  int64
 6   holiday     17379 non-null  int64
 7   weekday     17379 non-null  int64
 8   workingday  17379 non-null  int64
 9   weathersit  17379 non-null  int64
 10  temp        17379 non-null  float64
 11  atemp       17379 non-null  float64
 12  humidity    17379 non-null  float64
 13  windspeed   17379 non-null  float64
 14  casual      17379 non-null  int64
 15  registered  17379 non-null  int64
 16  totalcount  17379 non-null  int64
dtypes: float64(4), int64(12), object(1)
memory usage: 2.3+ MB

In [9]:
#just extra checking for null values
hour_data.isnull().sum()

instant       0
date          0
season        0
year          0
month         0
hour          0
holiday       0
weekday       0
workingday    0
weathersit    0
temp          0
atemp         0
humidity      0
windspeed     0
casual        0
registered    0
totalcount    0
dtype: int64

In [10]:
#checking for duplicates values
hour_data.duplicated().sum()

0

In [11]:
hour_data.describe()

          instant        season  ...    registered    totalcount
count  17379.0000  17379.000000  ...  17379.000000  17379.000000
mean    8690.0000      2.501640  ...    153.786869    189.463088
std     5017.0295      1.106918  ...    151.357286    181.387599
min        1.0000      1.000000  ...      0.000000      1.000000
25%     4345.5000      2.000000  ...     34.000000     40.000000
50%     8690.0000      3.000000  ...    115.000000    142.000000
75%    13034.5000      3.000000  ...    220.000000    281.000000
max    17379.0000      4.000000  ...    886.000000    977.000000

[8 rows x 16 columns]

In [12]:
for x in hour_data.columns:
  print(x)
  print(len(hour_data[x].unique()))
  print()

instant
17379

date
731

season
4

year
2

month
12

hour
24

holiday
2

weekday
7

workingday
2

weathersit
4

temp
50

atemp
65

humidity
89

windspeed
30

casual
322

registered
776

totalcount
869

In [13]:
#le = LabelEncoder()
#hour_data['date'] = le.fit_transform(hour_data['date'])

In [14]:
hour_data.drop(['instant','date','temp','atemp','humidity','windspeed','casual','registered'], axis = 1, inplace = True)

In [15]:
hour_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17379 entries, 0 to 17378
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   season      17379 non-null  int64
 1   year        17379 non-null  int64
 2   month       17379 non-null  int64
 3   hour        17379 non-null  int64
 4   holiday     17379 non-null  int64
 5   weekday     17379 non-null  int64
 6   workingday  17379 non-null  int64
 7   weathersit  17379 non-null  int64
 8   totalcount  17379 non-null  int64
dtypes: int64(9)
memory usage: 1.2 MB

In [16]:
#initializing the X (independent variables) and y (dependent variable)
X = hour_data.drop('totalcount', axis = 1)
y = hour_data['totalcount']

In [17]:
#splitting the X (independent variables) and y (dependent variable) into train and test dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=5)

In [18]:
lr = LinearRegression()

In [19]:
lr.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [20]:
pred = lr.predict(X_test)

In [21]:
lr.score(X_test, y_test)

0.2772427003502226

In [22]:
r2_score(y_test, pred)

0.2772427003502226

In [23]:
#evaluating the performance of the model
#MAE
print(mean_absolute_error(y_test, pred), end='\n')
#MSE
print(mean_squared_error(y_test, pred), end='\n')
#RMSE
print(np.sqrt(mean_squared_error(y_test, pred)))

117.16129011241753
24585.42941746526
156.7974152129596